.form-register {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1200px) {
  .form-register {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 900px) {
  .form-register {
    padding-left: 10px;
    padding-right: 10px;
  }
}
