.form-sign {
  padding-left: 100px;
  padding-right: 100px;
}

.float-button {
  float: center;
}

.hidden-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .form-sign {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 900px) {
  .form-sign {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hidden-loggin {
    display: none !important;
  }
  .hidden-mobile {
    display: inline;
  }
}
